* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background: #f0f7f0;
}

.back {
  margin-top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  min-width: 370px;
  transition-timing-function: ease-in;
}

.box {
  display: inline-block;
  vertical-align: top;
  background: lightgray;
  width: 120px;
  height: 120px;
  margin: 2px 0 2px 0;
  border-radius: 20px;
  cursor: default;
  transition: background .5s;
  transition-timing-function: ease-out;
}

.box:hover.empt {
  background: #a8a8a8;
  cursor: pointer;
}

h1 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 4em;
}

.popup {
  font-family: 'Signika', 'sans-serif';
  margin: 100px auto 0 auto;
  width: 600px;
  height: 270px;
  background: #d0e6d0;
  border: 6px solid #97b097;
  box-shadow: 0px 0px 1000px 2000px rgba(228, 241, 228, 0.9);
  border-radius: 60px;
  position: relative;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: all .7s;
  transition-timing-function: ease-in;
}

.popup h4 {
  padding-top: 60px;
  font-weight: bold;
  font-size: 2.5em;
  margin: auto;
  text-align: center;
  width: 100%;
  position: absolute;
}

.popup.end {
  top: 0;
  float: center;
  height: 200px;
  position: absolute;
  text-align: center;
  width: 36%;
  left: 32%;
  transition: all .5s;
  transition-timing-function: ease-out;
}

.choose_x {
  margin-top: 130px;
  position: absolute;
  background-color: #bbcfbb;
  border: 4px solid #97b097;
  left: 40%;
}

.choose_o {
  margin-top: 130px;
  position: absolute;
  background-color: #bbcfbb;
  border: 4px solid #97b097;
  left: 50%;
}

.choose_x:hover, .choose_o:hover, .choose_x:active, .choose_o:active, .choose_x:focus, .choose_o:focus {
  background-color: #dfd2da !important;
  border: 4px solid #b2a8ae !important;
  outline: 0 none !important;
}

.hideEl {
  opacity: 0;
  visibility: hidden;
}

.showEl {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 750px) {
  .back {
    top: 50px;
    min-width: 370px;
  }
  .popup {
    margin: 0px auto 0 auto;
    top: -300px;
    width: 340px;
    height: 220px;
  }

  .popup.end {
    margin-top: 0px;
    top: 50px;
    width: 90%;
    left: 5%;
  }
  
  .popup h4 {
    font-size: 1.7em;
  }
  
  .choose_x {
    left: 35%;
  }

  .choose_o {
    left: 55%;
  }
  
  body{
    width: device-width;
    overflow-x: hidden;
  }
}
/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/